# <center>Creating new DF for Health Viz</center>

<hr>

## Import Packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import csv

## Import Carbon Coach Json Data

In [2]:
def json_to_csv(json_data, csv_file):
    with open(json_data, 'r') as json_file:
        data = json.load(json_file)
        
    with open(csv_file,"w", newline= "") as csv_file:
        writer = csv.writer(csv_file)
        
        writer.writerow(data[0].keys())
        
        for row in data:
            writer.writerow(row.values())

Input and output Json-csv

In [3]:
#json_file = "macros.json"
#csv_file = "macro.csv"
#json_to_csv(json_file,csv_file)

## Import Data:

In [4]:
macros = pd.read_csv("macro.csv")
macros.head()

   deleted_at        date  calories protein carbs   fat
0         NaN  2021-11-17      2977    158g  323g  117g
1         NaN  2021-11-24      3087    158g  337g  123g
2         NaN  2021-12-03      3087    158g  337g  123g
3         NaN  2021-12-27      2535    179g  250g   91g
4         NaN  2022-01-22      2535    179g  250g   91g

In [5]:
macros.drop(['deleted_at'], axis = 1, inplace = True)
macros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      67 non-null     object
 1   calories  67 non-null     int64
 2   protein   67 non-null     object
 3   carbs     67 non-null     object
 4   fat       67 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.7+ KB

In [6]:
health = pd.read_csv("healthstats.csv")
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            145 non-null    object
 1   Active Energy (kcal)            145 non-null    float64
 2   Apple Exercise Time (min)       140 non-null    float64
 3   Body Fat Percentage (%)         144 non-null    float64
 4   Body Mass Index (count)         144 non-null    float64
 5   Lean Body Mass (lb)             143 non-null    float64
 6   Resting Heart Rate (count/min)  144 non-null    float64
 7   Step Count (count)              145 non-null    int64
 8   Weight & Body Mass (lb)         145 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 10.3+ KB

In [7]:
fitness = pd.read_csv("workoutstats.csv")
fitness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Type                  146 non-null    object
 1   Start                 146 non-null    object
 2   End                   146 non-null    object
 3   Duration              146 non-null    object
 4   Total Energy (kcal)   146 non-null    float64
 5   Active Energy (kcal)  146 non-null    float64
 6   Max Heart Rate (bpm)  146 non-null    int64
 7   Avg Heart Rate (bpm)  146 non-null    float64
 8   Distance (mi)         61 non-null     float64
 9   Avg Speed(mi/hr)      61 non-null     float64
 10  Step Count (count)    141 non-null    float64
 11  Step Cadence (spm)    141 non-null    float64
dtypes: float64(7), int64(1), object(4)
memory usage: 13.8+ KB

## Create "date" column for merging later

Adjust Health "date" column to be in date_time format.

In [8]:
health["Date"] = pd.to_datetime(health["Date"])
health.head()

,Date,Active Energy (kcal),Apple Exercise Time (min),Body Fat Percentage (%),Body Mass Index (count),Lean Body Mass (lb),Resting Heart Rate (count/min),Step Count (count),Weight & Body Mass (lb)
0,2023-01-01,578.43,35.0,14.90,26.8,164.6,61.0,3138,193.4
1,2023-01-02,897.35,35.0,14.74,26.6,163.6,52.0,5074,191.8
2,2023-01-03,718.88,52.0,14.53,26.3,162.2,56.0,7489,189.8
3,2023-01-04,810.94,57.0,14.63,26.4,162.8,54.0,6668,190.8
4,2023-01-05,947.23,81.0,14.39,26.1,161.4,58.0,6383,188.4

In [9]:
macros["Date"] = pd.to_datetime(macros['date'])
macros.drop(['date'], axis = 1, inplace = True)

In [10]:
macros.head()

   calories protein carbs   fat       Date
0      2977    158g  323g  117g 2021-11-17
1      3087    158g  337g  123g 2021-11-24
2      3087    158g  337g  123g 2021-12-03
3      2535    179g  250g   91g 2021-12-27
4      2535    179g  250g   91g 2022-01-22

In [11]:
fitness["Start"] = pd.to_datetime(fitness["Start"])
fitness.head()

,Type,Start,End,Duration,Total Energy (kcal),Active Energy (kcal),Max Heart Rate (bpm),Avg Heart Rate (bpm),Distance (mi),Avg Speed(mi/hr),Step Count (count),Step Cadence (spm)
0,Traditional Strength Training,2023-05-24 06:41:00,5/24/2023 7:20,0:39:35,307.55,213.90,149,105.53,NaN,NaN,643.0,0.271
1,Running,2023-05-23 17:12:00,5/23/2023 17:37,0:25:15,357.52,288.19,167,146.23,2.26,5.37,3524.0,2.320
2,Traditional Strength Training,2023-05-22 13:34:00,5/22/2023 14:38,1:03:29,442.07,309.81,147,91.51,NaN,NaN,692.0,0.182
3,Running,2023-05-21 08:33:00,5/21/2023 9:04,0:30:32,496.25,417.49,174,163.72,3.02,5.93,4610.0,2.520
4,Other,2023-05-21 08:32:00,5/21/2023 8:33,0:01:41,23.81,20.96,167,164.13,NaN,NaN,192.0,1.880

Extract the date portion of the "start" column and create a new feature called date

In [12]:
fitness["Date"] = fitness["Start"].dt.date
fitness.head()

,Type,Start,End,Duration,Total Energy (kcal),Active Energy (kcal),Max Heart Rate (bpm),Avg Heart Rate (bpm),Distance (mi),Avg Speed(mi/hr),Step Count (count),Step Cadence (spm),Date
0,Traditional Strength Training,2023-05-24 06:41:00,5/24/2023 7:20,0:39:35,307.55,213.90,149,105.53,NaN,NaN,643.0,0.271,2023-05-24
1,Running,2023-05-23 17:12:00,5/23/2023 17:37,0:25:15,357.52,288.19,167,146.23,2.26,5.37,3524.0,2.320,2023-05-23
2,Traditional Strength Training,2023-05-22 13:34:00,5/22/2023 14:38,1:03:29,442.07,309.81,147,91.51,NaN,NaN,692.0,0.182,2023-05-22
3,Running,2023-05-21 08:33:00,5/21/2023 9:04,0:30:32,496.25,417.49,174,163.72,3.02,5.93,4610.0,2.520,2023-05-21
4,Other,2023-05-21 08:32:00,5/21/2023 8:33,0:01:41,23.81,20.96,167,164.13,NaN,NaN,192.0,1.880,2023-05-21

Remove Start and End columns from fitness data. 
- These colummns have no bearing on the data.

In [13]:
fitness.drop(["Start","End"],axis = 1, inplace=True)
fitness.head()

,Type,Duration,Total Energy (kcal),Active Energy (kcal),Max Heart Rate (bpm),Avg Heart Rate (bpm),Distance (mi),Avg Speed(mi/hr),Step Count (count),Step Cadence (spm),Date
0,Traditional Strength Training,0:39:35,307.55,213.90,149,105.53,NaN,NaN,643.0,0.271,2023-05-24
1,Running,0:25:15,357.52,288.19,167,146.23,2.26,5.37,3524.0,2.320,2023-05-23
2,Traditional Strength Training,1:03:29,442.07,309.81,147,91.51,NaN,NaN,692.0,0.182,2023-05-22
3,Running,0:30:32,496.25,417.49,174,163.72,3.02,5.93,4610.0,2.520,2023-05-21
4,Other,0:01:41,23.81,20.96,167,164.13,NaN,NaN,192.0,1.880,2023-05-21

## Merge Data

First change fitness column "date" to datetime since it is currently an object.

In [14]:
fitness["Date"] = pd.to_datetime(fitness["Date"])

In [15]:
df = pd.merge(health, fitness, on = "Date")
df.head()

,Date,Active Energy (kcal)_x,Apple Exercise Time (min),Body Fat Percentage (%),Body Mass Index (count),Lean Body Mass (lb),Resting Heart Rate (count/min),Step Count (count)_x,Weight & Body Mass (lb),Type,Duration,Total Energy (kcal),Active Energy (kcal)_y,Max Heart Rate (bpm),Avg Heart Rate (bpm),Distance (mi),Avg Speed(mi/hr),Step Count (count)_y,Step Cadence (spm)
0,2023-01-01,578.43,35.0,14.90,26.8,164.6,61.0,3138,193.4,Yoga,0:10:22,70.66,51.00,104,87.96,NaN,NaN,NaN,NaN
1,2023-01-01,578.43,35.0,14.90,26.8,164.6,61.0,3138,193.4,Cycling,0:20:00,236.26,192.00,143,120.16,5.34,16.02,62.0,0.052
2,2023-01-02,897.35,35.0,14.74,26.6,163.6,52.0,5074,191.8,Cycling,0:30:00,452.54,374.00,171,138.04,8.50,17.00,77.0,0.043
3,2023-01-03,718.88,52.0,14.53,26.3,162.2,56.0,7489,189.8,Traditional Strength Training,0:48:24,347.35,235.45,123,94.00,NaN,NaN,661.0,0.228
4,2023-01-04,810.94,57.0,14.63,26.4,162.8,54.0,6668,190.8,Traditional Strength Training,0:51:53,338.17,252.43,132,94.30,NaN,NaN,1054.0,0.339

In [16]:
df = pd.merge(df, macros, how = "outer", on= "Date")

In [17]:
df['Date'].value_counts().sum()

197

# Export merged DF as CSV

In [19]:
df.to_csv('fit_df.csv', index = False) # remove index column from the csv